@{
    ViewBag.Title = "Home Page";
}

<section id="hero">
    <!--Start Sliders -->
    <div id="header-slider" class="carousel slide" data-ride="carousel">
        <!-- Hero Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!-- First Slider -->
                <img src="~/img/bg/01.jpg" alt="...">
                <div class="carousel-caption">
                    <h1 style="font-size: 120px;">Mark Glauberman-Coe</h1>
                    <br />
                    <h4>"I am always doing that which I cannot do, in order that I may learn how to do it."</h4><h4 style="text-align:center"><i>Pablo Picasso</i></h4>
                    <a class="page-scroll" href="~/#portfolio"><span class="fa fa-angle-double-down fa-3x"></span></a>
                </div>
            </div> <!-- End First Slider -->
            <div class="item">
                <!-- Second Slider -->
                <img src="~/img/bg/02.jpg" alt="...">
                <div class="carousel-caption">
                    <h1>Portfolio</h1>
                    <br />
                    <h4>Take a Look at my Work.</h4>
                    <a class="page-scroll" href="~/#about"><span class="fa fa-angle-double-down fa-3x"></span></a>
                </div>
            </div><!-- End Second Slider -->
            <div class="item">
                <!-- Third Slider -->
                <img src="~/img/bg/03.jpg" alt="...">
                <div class="carousel-caption">
                    <h1>Blog</h1>
                    <h4>Follow my Development.</h4>
                    <a class="page-scroll" href="~/#blog"><span class="fa fa-angle-double-down fa-3x"></span></a>
                </div>
            </div><!-- End Third Slider -->
            <div class="item">
                <!-- Fourth Slider -->
                <img src="~/img/bg/04.jpg" alt="...">
                <div class="carousel-caption">
                    <h1>Contact</h1>
                    <h4>Get in Touch!</h4>
                    <a class="page-scroll" href="~/#form"><span class="fa fa-angle-double-down fa-3x"></span></a>
                </div>
            </div> <!-- End Fourth Slider -->
        </div> <!-- End Hero Wrapper for slides -->
    </div> <!-- End Sliders -->
    <div class="controls">
        <a href="~/#header-slider" role="button" data-slide="prev"><span class="arrow-left"></span></a> <!-- Prev Control -->
        <a href="~/#header-slider" role="button" data-slide="next"><span class="arrow-right"></span></a> <!-- Next Control -->
    </div>
</section><!-- End Hero Slider -->
<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="container-fluid">
        <!-- Start Container -->
        <div class="row">
            <!-- Start Row -->
            <div class="col-sm-4 col-md-4 col-lg-4 nopadding">
                <!-- First Column -->
                <div class="small-box">
                    <div class="hover-bg">
                        <img src="~/img/sunBeach.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="ptitle">
                                <a href=@Url.Action("java1","java")><h2>Java1</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Min, Max, Mean, Sum, Product</p>
                            <a href=@Url.Action("java1","java") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More</a>
                        </div>
                    </div>
                </div>
                <div class="large-box">
                    <div class="hover-bg">
                        <img src="~/img/LightHouse.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="client-logo">
                                <img src="~/img/apple-touch-icon-114x114.png" alt="img">
                            </div>
                            <div class="ptitle">
                                <a href=@Url.Action("portfolio","portfolio")><h2>Portfolio</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Take a further look at my previous work and current projects.</p>
                            <a href=@Url.Action("portfolio","portfolio") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More Portfolio</a>
                        </div>
                    </div>
                </div>
            </div> <!-- End First Column -->
            <div class="col-sm-4 col-md-4 col-lg-4 nopadding">
                <!-- Second Column -->
                <div class="small-box">
                    <div class="hover-bg">
                        <img src="~/img/CoastReef.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="ptitle">
                                <a href=@Url.Action("java2","java")><h2>Java2</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Factorial</p>
                            <a href=@Url.Action("java2","java") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More</a>
                        </div>
                    </div>
                </div>
                <div class="small-box">
                    <div class="hover-bg">


                        <img src="~/img/JellyFish.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="ptitle">
                                <a href=@Url.Action("java3","java")><h2>Java3</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">FizzBuzz</p>
                            <a href=@Url.Action("java3","java") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More</a>
                        </div>
                    </div>
                </div>
                <div class="small-box">
                    <div class="hover-bg">
                        <img src="~/img/Pier.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="ptitle">
                                <a href=@Url.Action("java4","java")><h2>Java4</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Palindrome</p>
                            <a href=@Url.Action("java4","java") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- End Second Column -->
            <div class="col-sm-4 col-md-4 col-lg-4 nopadding">
                <!-- Third Column -->
                <div class="large-box">
                    <div class="hover-bg">
                        <img src="~/img/portfolio/city/03.jpg" alt="img" class="img-responsive">
                        <div class="hover-text on">
                            <div class="client-logo">
                                <img src="~/img/apple-touch-icon-114x114.png" alt="img">
                            </div>
                            <div class="ptitle">
                                <a href="~/Content/Resume_CV.pdf"><h2>Resume</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Take a further look at my previous experience and education.</p>
                            <a href="~/Content/Resume_CV.pdf" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View Resume</a>
                        </div>
                    </div>
                </div>
                <div class="small-box">
                    <div class="hover-bg">
                        <img src="~/img/Surfer.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <div class="ptitle">
                                <a href=@Url.Action("portfolio","portfolio")><h2>More Coming Soon</h2></a>
                            </div>
                            <p class="excerpt" style="text-align:center">Coming Soon</p>
                            <a href=@Url.Action("portfolio","portfolio") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>View More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- End Third Column -->
        </div> <!-- End Row -->
    </div> <!-- End Container -->
    <div class="clearfix"></div>
</section>

<!-- About Page
================================================== -->
<section id="about">
    <div class="container-fluid">
        <!-- Start Container -->
        <!-- Tabs Controls/Naviagtion -->
        <div class="row">
            <!-- Start Row -->
            <div class="col-xs-4 col-sm-4 col-md-4 nopadding">
                <div data-target="#about-slider" data-slide-to="0" class="tab">
                    <div class="tmenu">
                        <span class="follow"></span>
                        <h5>Follow</h5>
                        <span class="fa fa-angle-double-down fa-2x"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 nopadding">
                <div data-target="#about-slider" data-slide-to="1" class="tab active">
                    <div class="tmenu">
                        <span class="about"></span>
                        <h5>About</h5>
                        <span class="fa fa-angle-double-down fa-2x"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 nopadding">
                <div data-target="#about-slider" data-slide-to="2" class="tab">
                    <div class="tmenu">
                        <span class="explore"></span>
                        <h5>Skills</h5>
                        <span class="fa fa-angle-double-down fa-2x"></span>
                    </div>
                </div>
            </div>
        </div> <!-- End Row -->
        <!-- Tabs Content -->
        <div class="row">
            <!-- Start Row -->
            <!-- Start of The Slider Used as Tabs -->
            <div id="about-slider" class="carousel slide" data-ride="carousel">
                <!-- Tabs Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Follow Me Content -->
                    <div class="item">
                        
                        <img src="~/img/2400x480.jpg" alt="...">
                        <div class="carousel-caption">
                            <div class="space"></div>
                            <h2>Follow Me</h2>
                            <hr>
                            <ul class="social-media">
                                <li><img src="~/img/facebook.png" /></li>
                                <li><img src="~/img/twitter.png" /></li>
                                <li><img src="~/img/linkedin.png" /></li>
                            </ul>
                        </div>
                    </div> <!-- End Follow Me Content -->
                    <!-- About Content -->
                    <div class="item active">
                        <img src="~/img/Sunrise.jpg" alt="...">
                        <div class="carousel-caption">
                            <div class="space"></div>
                            <h2>Mark Glauberman-Coe</h2>
                            <p style="text-align:center;">Thank you for taking the time to visit my page. Originally hailing from the UK, I emigrated to the US in mid 2013 with my wife, Bella. Whilst Studying for a BSc in Neuroscience and Psychology, I worked for the National Health Service (NHS) as a Read Code Note Summarizer. On graduating I co-founded, Glauberman-Coe Legal-Medical Consultants, which provided transcription, summation and analysis services to legal firms concerned with medical negligence claims. On moving to the US I took a role with JAG Aspirations UK as their Operations Manager here in the US. During my time with JAG, they have funded me to complete a Graduate Diploma in Law (GDL) with BPP University (UK).  Currently, I am attending an intensive 12 week coding bootcamp with Coder Foundry as I look to transition from one sector to another and secure a new position based here in the US.</p>
                        </div>
                    </div> <!-- End About Content -->
                    <!-- Explore Content -->
                    <div class="item">
                        <img src="~/img/Mountains.jpg" alt="...">
                        <div class="carousel-caption">
                            <div class="space"></div>
                            <h2>Skills</h2>
                           <h5>HTML</h5>
                            <h5>JavaScript</h5>
                            <h5>CSS</h5>
                            <h5>Razor</h5>
                        </div>
                    </div> <!-- End Explore Content -->
                    <!-- Contact Details -->
                    <ul class="contact-info">
                        <li><span class="email">EMAIL: MARKCOE1@OUTLOOK.COM</span></li>
                        <li><span class="phone">PHONE: (336) 231-8632</span></li>
                        <li><span class="address">ADDRESS: 8430 University Executive Park Dr., Suite 650, Charlotte, NC 28262</span></li>
                    </ul><!-- End Contact Details -->
                    <div class="space"></div>
                </div> <!-- End Tabs Wrapper for slides -->
            </div> <!-- End of The Slider Used as Tabs -->
        </div> <!-- End Row -->
    </div> <!-- End Container -->
    <div class="clearfix"></div>
    <div class="space"></div>
</section><!-- End Header Section -->
<!-- Blog Section
================================================== -->
<section id="blog">
    <!-- Blog Square Buttons -->
    <a href=@Url.Action("blog","blog") class="blog-button">
        <span class="yacht"></span>
        <h5>Blog</h5>
        <span class="fa fa-angle-double-down fa-2x"></span>
    </a><!-- End Blog Square Buttons -->
    <div class="container-fluid">
        <!-- Start Container -->
        <div class="row">
            <!-- Start Row -->
            <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                <div class="blog-box">
                    <div class="hover-bg">
                        <img src="~/img/phonebox.jpg">alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <h2>Comming Soon</h2>
                            <a href="" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Comming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                <div class="blog-box">
                    <div class="hover-bg">
                        <img src="~/img/LondonStreet.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <h2>Comming Soon</h2>
                            <a href="" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Comming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                <div class="blog-box">
                    <div class="hover-bg">
                        <img src="~/img/London.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <h2>Comming Soon</h2>
                            <a href="" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Comming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                <div class="blog-box">
                    <div class="hover-bg">
                        <img src="~/img/Umbrella.jpg" alt="img" class="img-responsive">
                        <div class="hover-text animated">
                            <h2>Comming Soon</h2>
                            <a href="" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Comming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Row -->
    </div> <!-- End Container -->
</section>
<div class="space"></div>

<!-- Mission/Vision/Objective Section
================================================== -->
<section id="objectives">
    <div class="container">
        <!-- Start Container -->
        <div class="row">
            <!-- Start Row -->
            <div class="col-md-6 col-md-offset-3">
                <div class="quote">
                    <!-- Quote Box -->
                    <!-- Quote Box Slider-->
                    <div id="quotes" class="carousel slide" data-ride="carousel">
                        <!-- Quote Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="fancy"><span class="anchor"></span></div>
                                <blockquote>
                                    “Creativity involves breaking out of established patterns in order to look at things in a different way.”
                                    <footer>Edward de Bono</footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="fancy"><span class="anchor"></span></div>
                                <blockquote>
                                    “Innovation distinguishes between a leader and a follower.”
                                    <footer>Steve Jobs</footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="fancy"><span class="anchor"></span></div>
                                <blockquote>
                                    “The true sign of intelligence is not knowledge but imagination.”
                                    <footer>Albert Einstein</footer>
                                </blockquote>
                            </div>
                        </div><!-- End Quote Wrapper for slides -->
                    </div><!-- End Quote Box Slider-->
                </div> <!-- End Quote Box -->
                <!-- Controls Navigation -->
                <ul class="qcontrols">
                    <li data-target="#quotes" data-slide-to="0" class="quote-nav active"></li>
                    <li data-target="#quotes" data-slide-to="1" class="quote-nav"></li>
                    <li data-target="#quotes" data-slide-to="2" class="quote-nav"></li>
                </ul>
            </div>
        </div> <!-- End Row -->
    </div> <!-- End Container -->
</section>
<div class="space"></div>

<!-- Contact Section
================================================== -->
<section id="contact">
    <div class="container">
        <!-- Start Container -->
        <div class="row">
            <!-- Start Row -->
            <div class="col-md-10 col-md-offset-1">

                <form name="sentMessage" id="contactForm" novalidate>
                    <div id="form" class="contact-form">
                        <span class="coconut"></span>
                        <h5>Contact</h5>
                        <span class="fa fa-angle-double-down fa-2x"></span>
                        <div class="space"></div>

                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="email" autocomplete="off" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <p style="text-align:center">If you wish to contact me please provide your name, email address and any information you feel is relevent.</p>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button type="submit" class="btn btn-primary contact-btn">Send</button> <!-- Send button -->
                    </div>
                </form>
            </div>
        </div> <!-- End Row -->
    </div><!-- End Container -->
</section>
