@model IEnumerable<PersonalWebsite.Models.BlogPost>

    <!-- Top Page Title Bar -->
    <div class="page-title-bar">
        <div class="page-title text-right">
            <a> @Html.ActionLink("BlogPosts","Create")</a>
            <h2>Blog - More Comming Soon!</h2>
        </div>
    </div>

    <!--Blog Posts
    ================================================== -->
    <section id="blog" class="posts">
        <div class="container-fluid">
            <!-- Start Container -->
            <div class="row">
                <!-- Start Row -->
@foreach (var item in Model) {
                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>@item.title</h2>
                                <a href=@Url.Action("week1","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
}
                @*<div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text on">
                                <h2>Week 2</h2>
                                <a href="@Url.Action("week2","BlogPosts")" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 3</h2>
                                <a href=@Url.Action("week3","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 4</h2>
                                <a href=@Url.Action("week4","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text on">
                                <h2>Week 5</h2>
                                <a href=@Url.Action("week5","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 6</h2>
                                <a href=@Url.Action("week6","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 7</h2>
                                <a href=@Url.Action("week7","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text on">
                                <h2>Week 8</h2>
                                <a href=@Url.Action("week8","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 9</h2>
                                <a href=@Url.Action("week9","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 10</h2>
                                <a href=@Url.Action("week10","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text on">
                                <h2>Week 11</h2>
                                <a href=@Url.Action("week11","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                    <div class="blog-box">
                        <div class="hover-bg">
                            <img src="" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <h2>Week 12</h2>
                                <a href=@Url.Action("week12","BlogPosts") class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div> <!-- End Row -->
        </div> <!-- End Container -->
        <div class="clearfix"></div>
    </section>

    <!-- Blog Control Navigation
    ================================================== -->
    <section id="blog-nav">
        <!-- Header Section -->
        <div class="container-fluid">

            <div class="row">

                <!-- Previous Posts -->
                <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                    <a href="#">
                        <div class="prev-btn control-nav text-left">
                            <i class="fa fa-angle-double-left fa-2x"></i>
                            <h5>Oldest Posts</h5>
                        </div>
                    </a>
                </div> <!-- End Previous Posts -->
                <!-- Next Posts -->
                <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                    <a href="#">
                        <div class="next-btn control-nav text-right">
                            <i class="fa fa-angle-double-right fa-2x"></i>
                            <h5>Newest Posts</h5>
                        </div>
                    </a>
                </div><!-- End Next Posts -->

            </div> <!-- End Row -->
        </div> <!-- End Container -->
        <div class="clearfix"></div>
    </section>
