<!--Blog Posts
================================================== -->
<section id="blog-post">
    <div class="header-static">
        <div class="featured-content static">
            <div class="post-details">
                <img src="~/img/Umbrella.jpg" class="img-responsive" alt="...">
                <div class="text-overlay">
                    <div class="title">
                        <h2>The Busy City</h2>
                    </div>
                    <div class="metas">
                        <p class="meta"><span class="fa fa-user"><a href="#" class="author">City Traveler</a></span></p>
                        <p class="meta"><span class="fa fa-calendar"><a href="#" class="date">Oct. 01, 2014</a></span></p>
                        <ul class="meta">
                            <li><a href="~/#">City</a></li>
                            <li><a href="~/#">Trees</a></li>
                            <li><a href="~/#">Travel</a></li>
                        </ul>
                    </div>
                    <p class="excerpt">Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                    <ul class="user-action">
                        <li><a href="~/#"><i class="fa fa-heart fa-2x"></i>355</a></li>
                        <li><a href="~/#"><i class="fa fa-eye fa-2x"></i>186</a></li>
                        <li><a href="~/#"><i class="fa fa-share fa-2x"></i>32432</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main-text" class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                    <div id="content">

                        <p class="lead">"Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h2>Five Columns</h2>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <p>Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea.</p>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <p>Voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <p>Et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos. </p>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <p>Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <img src="../img/portfolio/city/08.jpg" class="img-responsive" alt="...">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <h2>The Busy City</h2>
                                <p>Nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. Totam rem aperiam, eaque ipsa quae ab illo inventore veritati. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <p>Voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. Totam rem aperiam, eaque ipsa quae ab illo inventore veritati. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                        <a href=@Url.Action("java1","java") class="btn btn-default btn2"><span class="fa fa-bars"></span>View JavaScript</a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <p>Et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Nenim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section id="blog-nav">
    <!-- Header Section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                <a href="~/">
                    <div class="prev-btn control-nav text-left">
                        <i class="fa fa-angle-double-left fa-2x"></i>
                        <h5>Oldest Posts</h5>
                    </div>
                </a>
            </div> <!-- End Previous Posts -->
            <!-- Next Posts -->
            <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                <a href="~/">
                    <div class="next-btn control-nav text-right">
                        <i class="fa fa-angle-double-right fa-2x"></i>
                        <h5>Newest Posts</h5>
                    </div>
                </a>
            </div><!-- End Next Posts -->
        </div> <!-- End Row -->
    </div> <!-- End Container -->
    <div class="clearfix"></div>
</section>
