    <!--Blog Posts
    ================================================== -->
    <section id="blog-post">
        <div class="header-static">
            <div class="featured-content static">

                <div class="post-details">
                    <img src="../img/portfolio/food/03.jpg" class="img-responsive" alt="...">
                     <div class="text-overlay">
                        <div class="title">
                            <h2>Deliciously Served</h2>
                        </div>
                        <div class="metas">
                            <p class="meta"><span class="fa fa-user"><a href="#" class="author">Lian Gwapa</a></span></p>
                            <p class="meta"><span class="fa fa-calendar"><a href="#" class="date">Oct. 23, 2014</a></span></p>
                            <ul class="meta">
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Coffee</a></li>
                                <li><a href="#">Served</a></li>
                            </ul>
                        </div>
                        <p class="excerpt">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ooccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        <ul class="user-action">
                            <li><a href="#"><i class="fa fa-heart fa-2x"></i>2443</a></li>
                            <li><a href="#"><i class="fa fa-eye fa-2x"></i>457</a></li>
                            <li><a href="#"><i class="fa fa-share fa-2x"></i>1312</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="main-text" class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

                        <div id="content">
                            <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                            <h2>Your h2 Headline Here</h2>

                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h2>Coffee + Cakes</h2>
                                    <p>Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <img src="../img/portfolio/food/10.jpg" class="img-responsive" alt="...">
                                </div>
                            </div>

                            <blockquote>"Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</blockquote>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

                            <p><strong>Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</strong></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="clearfix"></div>

    <section id="blog-nav"> <!-- Header Section -->
        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                    <a href="food.html">
                        <div class="prev-btn control-nav text-left">
                            <i class="fa fa-angle-double-left fa-2x"></i>
                            <h5>Oldest Posts</h5>
                        </div>
                    </a>
                </div> <!-- End Previous Posts -->

                <!-- Next Posts -->
                <div class="col-xs-6 col-sm-6 col-md-6 nopadding">
                    <a href="fly.html">
                        <div class="next-btn control-nav text-right">
                            <i class="fa fa-angle-double-right fa-2x"></i>
                            <h5>Newest Posts</h5>
                        </div>
                    </a>
                </div><!-- End Next Posts -->

            </div> <!-- End Row -->
        </div> <!-- End Container -->
        <div class="clearfix"></div>
    </section>

    <!-- Footer Section
    ================================================== -->
    <footer>
        <p class="copyright">© 2014 copyright. designed by  jlpmedia</p>
    </footer>
